@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #1E3932;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    min-width: 350px;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    position: relative;
}

.filter-green {
    filter: brightness(0) saturate(100%) invert(19%) sepia(7%) saturate(2184%) hue-rotate(114deg) brightness(94%) contrast(94%);
}

.filter-pink-coral {
    filter: brightness(0) saturate(100%) invert(79%) sepia(28%) saturate(337%) hue-rotate(298deg) brightness(97%) contrast(90%);
}

.filter-pink-bright {
    filter: brightness(0) saturate(100%) invert(78%) sepia(17%) saturate(1565%) hue-rotate(283deg) brightness(101%) contrast(95%);
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

/* Brand Image */
.header__brand-container {
    width: 50px;
    height: 50px;
}

.header__brand-image {
    max-width: 100%;
    object-fit: cover;
}


/* Toggle button menu */
.button-menu {
    outline: none;
    border: none;
    background-color: white;
    transition: transform 0.3s ease;
}

.button-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button-menu__icon {
    width: 24px;
}


/* Menu Header */
.menu__list-link {
    color: var(--primary-color);
}


/* Main content */
.main {
    height: calc(100vh - 70px);
    padding: 1rem 2rem 0px 2rem;
}

/* Banner */
.banner {
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.banner__title {
    font-size: 2.5rem;
    display: block;
    color: white;
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    width: 100%;
}

.banner__text-container {
    text-align: center;
}

.banner__text {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 500px;
    font-weight: 300;
}

.banner__drink-container {
    max-width: 350px;
}

.banner__drink-image {
    display: block;
    margin: auto;
    max-width: 90%;
    object-fit: cover;
    padding: 1rem;
    transition: opacity 0.3s ease-in-out;
}


/* Social Media */
.aside {
    position: absolute;
    top: 40%;
    right: 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding-right: 5px;
    row-gap: 1rem;
}

.social-media__item {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media__logo {
    display: block;
}


/* Footer  Drinks*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.menu-drinks {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 0.5rem;
}

.menu-drinks__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-drinks__logo {
    min-width: 4rem;
    max-width: 5vw;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.menu-drinks__logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.menu-drinks__item--shadow {
    filter: drop-shadow(3px 5px 5px #bebebe);
}

@media screen and (max-width: 576px) {
    .menu {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .menu {
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        background-color: var(--primary-color);
        min-width: 40%;
        z-index: 1;
        transition: right 0.3s ease;
    }

    .menu.open {
        right: 0;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        text-align: end;
        row-gap: 5px;
    }

    .menu__list-item {
        display: flex;
        align-items: center;
        height: 3rem;
    }

    .menu__list-link {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 20px;
        color: white;
        font-weight: 500;
        transition: transform 0.3s ease;
    }

    .menu__list-link:hover {
        opacity: 90%;
    }

    .button-menu-close {
        background-color: transparent;
        outline: none;
        border: none;
        padding: 1rem;
        transition: transform 0.3s ease;
    }

    .button-menu-close:hover {
        transform: scale(1.1);
    }

    .button-menu-close__icon {
        cursor: pointer;
    }

    .button-menu-close__icon {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(109%) contrast(98%);
        width: 20px;
    }

}


@media screen and (min-width: 576px) {
    .banner__drink-image {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {

    .header__button-menu-container {
        display: none;
    }

    .menu {
        display: block;
        position: static;
    }

    .menu__list {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }

    .button-menu-close {
        display: none;
    }

    .main {
        padding: 0;
    }

    .banner {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: row;
    }

    .banner__text {
        width: 90%;
    }

    .banner__drink-container {
        margin: auto;
    }

    .menu-drinks {
        max-width: 700px;
    }

    .menu-drinks__logo {
        max-width: 100%;
        margin-bottom: 1rem;
    }

}